<!DOCTYPE html>
<html ng-app="userApp">
<head>
    <title>Simple AngularJS App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link href="styles.css" rel="stylesheet">
</head>
<body ng-controller="UserController">
    <h2>Add User</h2>
    <input type="text" ng-model="newUser.name" placeholder="Name" />
    <input type="email" ng-model="newUser.email" placeholder="Email" />
    <button ng-click="addUser()">Submit</button>

    <h3>User List</h3>
    <ul>
        <li ng-repeat="user in users">
            {{ user.name }} - {{ user.email }}
        </li>
    </ul>

    <script>
        angular.module('userApp', [])
        .controller('UserController', function($scope) {
            $scope.users = [];

            $scope.newUser = {};

            $scope.addUser = function() {
                if ($scope.newUser.name && $scope.newUser.email) {
                    $scope.users.push({
                        name: $scope.newUser.name,
                        email: $scope.newUser.email
                    });
                    $scope.newUser = {}; // clear input
                }
            };
        });
    </script>
</body>
</html>
